/* Navbar.css */
.site-navbar {
    background-color: #eee;
    padding: 20px;
    position: relative;
}

.site-navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.site-navbar-logo img {
    max-height: 50px;
}

.site-navbar-sections {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.site-navbar-section {
    position: relative;
    margin-left: 20px;
}

.site-navbar-section a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
}

.site-navbar-subsections {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    list-style: none;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 10;
    white-space: nowrap;
}

.site-navbar-section.active .site-navbar-subsections {
    display: block;
}

.site-navbar-subsection {
    padding: 5px 0;
    text-align: left;
}

.site-navbar-subsection a {
    display: block;
    padding: 5px 10px;
    white-space: nowrap;
}

.site-navbar-actions{
    display: flex;
}

.site-navbar-action-button{
    background-color: #777;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}