/* Portfolio Styles */

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App {
  text-align: center;
}

.container {
  text-align: center;
  width: 90%;
  background-color: #ECF0F3;
  margin: auto;
  padding: 0px;
}

a {
  text-decoration: none;
}

/* Navbar Styles Start */

.portfolio_navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 96%;
  min-height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
}

.portfolio_logo {
  width: 100%;
  border-radius: 100%;
}

.portfolio_icon {
  display: none;
}

.portfolio_nav_menu {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  list-style: none;
}

.portfolio_nav_menu > li {
  font-size: 16px;
  font-weight: bold;
}

.portfolio_nav_menu > li:hover {
  color: #3e8ac5;
  cursor: pointer;
}

.portfolio_nav_links {
  font-size: 16px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.portfolio_nav_links:hover {
  color: #3e8ac5;
  cursor: pointer;
}

/* Navbar Styles End */

/* Home Styles Start */
.home_container {
  width: 98%;
  margin: 100px auto;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.home_flexibility {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
}

.flexibility_divider {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome_title {
  font-size: 14px;
  color: #b9c8dd;
  text-align: left;
  margin: 0px;
  padding: 0px;
}

.intro_title {
  font-size: 30px;
  font-weight: bold;
  text-align: left;
}

.intro_title > span {
  color: #60C4E0;
}

.intro_image_box {
  display: flex;
  background: linear-gradient(90deg, #e3e9ed, #e6ebef, #e8edf0, #ebeff2, #eef2f4, #f0f4f6, #f3f6f7, #f6f8f9);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  justify-content: center;
  margin-top: 30px;
}

.intro_image_box > img {
  max-width: 45%;
  position: relative;
  top: -25px;
  border-radius: 50%;
}

.intro_skill_container {
  display: flex;
  justify-content: space-between;
}

.intro_find_with {
  display: flex;
  flex-direction: column;
}

.social_skill_text {
  font-size: 14px;
  color: #1e2125;
}

.social_icons_container {
  background: linear-gradient(90deg, #e3e9ed, #e6ebef, #e8edf0, #ebeff2, #eef2f4, #f0f4f6, #f3f6f7, #f6f8f9);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 1px;
}

.download_resume {
  font-size: 11px;
  font-weight: bold;
  color: #60C4E0;
  margin: 2px;
}

.skills_icon {
  width: 25px;
  height: 25px;
}

/* Features Styles */
.feature_headers {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 25px;
  padding-top: 20px;
  line-height: 0.5;
}

.feature_headers > span {
  font-size: 14px;
  color: #ff014f;
}

.feature_headers > p {
  font-size: 32px;
  color: #3c3e41;
}

.feature_containers {
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, #e3e9ed, #e6ebef, #e8edf0, #ebeff2, #eef2f4, #f0f4f6, #f3f6f7, #f6f8f9);
  box-shadow: 3px 2px 4px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 3px 2px 4px 3px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10px;
  text-align: left;
  padding: 20px;
}

.feature_containers > div > span {
  font-size: 20px;
  color: #1e2125;
}

/* Home Styles End */

/* Dashboard Login Styles Start */
.login_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login_wrapper {
  width: 420px;
  background-color: #84a1b8;
  box-shadow: 7px 5px 5px #b4b4b4;
  color: #FFFFFF;
  border-radius: 10px;
  padding: 30px 40px;
}

.login_wrapper p {
  font-size: 36px;
  text-align: center;
}

.login_wrapper .login_input_box {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #116a83;
  margin: 20px 0px;
  border-radius: 5px;
}

.login_input_box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #FFFFFF;
  padding: 0px 15px;
}

.login_input_box input::placeholder {
  color: #949292;
}

.required_field {
  font-size: 11px !important;
  text-align: left !important;
  margin-left: 5px;
}

.required_field span {
  color: #fc1111;
}

.required_msg {
  color: #FC1111;
  font-size: 11px;
  text-align: left;
}

.icon_styles {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.login_wrapper .remember_forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 20px 0px;
}

.remember_forgot a {
  margin-right: 3px;
  color: #FFFFFF;
  text-decoration: none;
}

.remember_forgot a:hover {
  color: #116a83;
}

.login_wrapper .submit_btn {
  width: 100%;
  height: 45px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #0d5063;
  border: 1px solid #116a83;
}

.login_wrapper .register_link {
  font-size: 14px;
  text-align: center;
  margin: 25px 0 10px;
}

.register_link a {
  color: #FFFFFF;
  text-decoration: none;
}

.register_link a:hover {
  color: #0d5063;
}
/* Dashboard Login Styles End */

/* Small Devices Styles */
@media screen and (max-width: 960px) {
  .portfolio_icon {
    display: block;
    position: absolute;
    top: 25px;
    right: 25px;
    transform: translate(-100%, 60%);
    font-size: 16px;
    cursor: pointer;
  }

  .portfolio_nav_menu {
    display: flex;
    flex-direction: column;
    width: 76%;
    position: absolute;
    top: 92px;
    left: 100%;
    padding: 20px;
    opacity: 1;
    transition: all 0.5s ease;
    background-image: linear-gradient(to bottom, rgb(229, 230, 231), #ECF0F3);
  }

  .portfolio_nav_menu.active {
    left: 32px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .home_flexibility {
    display: flex;
    flex-direction: column;
  }

  .intro_title {
    font-size: 22px;
    font-weight: bold;
  }

  .flexibility_divider {
    width: 100%;
  }
}
/* Small Devices Styles */