.dashboard {
    display: flex;
}

.dashboard_container {
    flex: 6;
}

.widgets {
    display: flex;
    padding: 20px;
    gap: 20px;
}

/* Dashboard Sidebar Styles Start */
.sidebar {
    flex: 1;
    border-right: 0.5px solid #eeecec;
    min-height: 100vh;
    background-color: #FFFFFF;
}
.sidebar_top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar_top_logo {
    font-size: 20px;
    font-weight: bold;
    color: #6439ff;
}

hr {
    height: 0px;
    border: 0.5px solid #eeecec;
}

.sidebar_center {
    padding-left: 10px;
}

.sidebar_center ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar_center ul .title {
    font-size: 10px;
    font-weight: bold;
    color: #999999;
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: left;
}

.sidebar_center ul li {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.sidebar_center ul li:hover {
    background-color: #f4f2f8;
}

.sidebar_center ul li span {
    font-size: 13px;
    font-weight: bold;
    color: #8172b9;
    margin-left: 10px;
}
/* Dashboard Sidebar Styles End */

/* Dashboard Navbar Styles Start */
.navbar {
    height: 58px;
    border-bottom: 0.5px solid #d3d3d3;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #4d4c4c;
}

.navbar_wrapper {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard_search {
    display: flex;
    align-items: center;
    border: 0.5px solid #d3d3d3;
    padding: 3px;
}

.dashboard_search input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 12px;
    color: #4d4c4c;
}

input::placeholder {
    color: #d3d3d3;
    font-size: 12px;
}

.navbar_items {
    display: flex;
    align-items: center;
}

.navbar_items .item {
    display: flex;
    align-items: center;
    margin: 15px;
}

.avatar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.avatar_dropdown {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 50px;
    right: 10%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    padding: 15px;
    z-index: 1000;
}

.avatar_dropdown a {
    font-size: 13px;
    color: #8172b9;
    cursor: pointer;
    text-align: left;
}

.avatar_dropdown a:hover {
    color: #6439FF;
}

.avatar_dropdown button {
    font-size: 13px;
    color: #8172b9;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0px;
}

.avatar_dropdown button:hover {
    color: #6439FF;
}
/* Dashboard Navbar Styles End */

/* Widget Styles Start */
.widget_container {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 10px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
}

.widget_container .left,
.widget_container .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.widget_title {
    font-size: 14px;
    font-weight: bold;
    color: #aaa9a9;
}

.widget_link {
    width: max-content;
    font-size: 12px;
    color: #aaa9a9;
    border-bottom: 1px solid #aaa9a9;
}

.widget_icon {
    font-size: 30px;
    padding: 5px;
    border-radius: 5px;
    align-self: flex-end;   
}
/* Widget Styles End */

/* Add New User Styles Start */
.new_user {
    width: 100%;
    display: flex;
}

.user_container {
    flex: 6;
}

.new_user_top, 
.new_user_bottom {
    padding: 10px 16px;
    margin: 20px;
    display: flex;
    gap: 5%;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
}

.new_user_top p {
    font-size: 16px;
    font-weight: bold;
    color: #9784dd;
}

.user_bottom_left {
    flex: 1;
    text-align: left;
}

.user_bottom_left img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.user_bottom_right {
    flex: 3;
}

.user_bottom_right form {
    display: flex;
    flex-direction: column;
}

.form_input {
    width: 40%;
    margin-bottom: 16px;
}

.form_input label {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #5f5e5e;
}

.form_input input {
    width: 93%;
    padding: 5px 8px;
    border: none;
    outline: none;
    border: 1px solid #bfb1f5;
    margin-top: 5px;
}

.form_btn {
    width: 150px;
    cursor: pointer;
    padding: 8px;
    border: 2px solid #6439ff;
    /* background-color: #6439ff; */
    border-radius: 8px;
    color: #6439ff;
    font-size: 14px;
    font-weight: bold;
    margin-top: 15px;
}

.form_btn:disabled {
    background-color: #727171;
    cursor: not-allowed;
}
/* Add New User Styles End */

/* Users Table Styles Start */
.user_list {
    display: flex;
    width: 100%;
}

.user_list_container {
    flex: 6;
}

.users_title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.users_title p {
    font-size: 24px;
    color: #5f5e5e;
    margin: 0px;
}

.users_title_link {
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    color: #6439ff;
    padding: 5px 7px;
    border: 0.5px solid #6439ff;
    border-radius: 5px;
}

.users_title_link:hover {
    text-decoration: none;
    background-color: #6439ff;
    color: #FFFFFF;
    transition: ease-in-out 0.5s;
}

.users_table_container {
    margin: 25px;
}

.users_table_container table, th, td {
    border: 1px solid #aaa9a9;
}

.users_table_container table tbody tr td {
    font-size: 14px;
}

.users_table_container table tbody tr td span {
    font-size: 11px;
}

.users_table_container table {
    width: 100%;
    overflow-x: auto;
    color: #8172b9;
}
/* Users Table Styles End */

/* Users Profile Styles Start */
.user_profile {
    display: flex;
    width: 100%;
}

.profile_container {
    flex: 6;
}

.userprofile_container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.userprofile_left {
    width: 30%;
    background-color: #FFFFFF;
    box-shadow: 3px 3px 10px 3px #cecdcd;
    -webkit-box-shadow: 3px 3px 10px 3px #cecdcd;
    -moz-box-shadow: 3px 3px 10px 3px #cecdcd;
    
}

.userprofile_left div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

.userprofile_left div.profile_summary {
    display: flex;
    flex-direction: row;
}

.profile_summary span {
    font-size: 13px;
    color: #6e59bb;
    margin-left: 5%;
}

.userprofile_right {
    width: 65%;
    background-color: #FFFFFF;
    box-shadow: 3px 3px 10px 3px #cecdcd;
    -webkit-box-shadow: 3px 3px 10px 3px #cecdcd;
    -moz-box-shadow: 3px 3px 10px 3px #cecdcd;
    padding: 0 2%;
}

.userprofile_right p {
    font-size: 17px;
    font-weight: bold;
    color: #6439FF;
    text-align: left;
}

.profile_information {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1%;
    align-items: flex-start;
}

.profile_information div {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 10px;
    padding: 2px 5px;
    background-color: #eeecec;
}

.profile_information p {
    font-size: 14px;
    color: #6a58ac;
    font-weight: 300;
    margin: 5px;
}

.profile_information input {
    border: solid 1px #cecdcd;
    outline: none;
    padding: 3px;
}
/* Users Profile Styles End */

@media (max-width: 599px) {
    .widgets {
        display: flex;
        flex-direction: column;
    }
}



/* Website Navbar Styles */
/* .website-navbar {
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    padding: 10px 20px;
  }
  
  .website-navbar-logo {
    display: flex;
    align-items: center;
  }
  
  .web-logo {
    height: 50px;
    margin-right: 10px;
  }
  
  .logo-text p {
    margin: 0;
    font-size: 12px;
  }
  
  .website-navbar-links {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .web-nav-item {
    padding: 10px 20px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
  }
  
  .selected {
    background-color: #d3d3d3;
    border-radius: 5px;
  }
  
  .website-navbar-search {
    margin-top: 10px;
    text-align: right;
    font-size: 20px;
  }
  
  .website-navbar-submenu {
    display: flex;
    justify-content: space-around;
    background-color: #d3d3d3;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
  }
  
  .submenu-item {
    font-size: 14px;
    cursor: pointer;
  } */
  
/* Website Navbar Styles */

/**/
.file_img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.info_input {
    width: 92%;
    padding: 5px 8px;
    border: none;
    outline: none;
    border: 1px solid #c4c4c5;
    margin-top: 5px;
}
.player_btn {
    width: 150px;
    cursor: pointer;
    padding: 8px;
    border: 2px solid #14829B;
    /* background-color: #6439ff; */
    border-radius: 8px;
    color: #14829B;
    font-size: 14px;
    font-weight: bold;
    margin-top: 15px;
}

.player_btn:disabled {
    background-color: #727171;
    cursor: not-allowed;
}